# Google Client ID for Google Sign-in (obtained from Google Cloud Console Credentials)
VITE_GOOGLE_CLIENT_ID=194136677525-pp0iigvj6jvfm2qvca2ff7mkg8r3bh1t.apps.googleusercontent.com

# API URL (Optional: defaults to /api in production, http://localhost:5001/api in development)
# VITE_API_URL=http://localhost:5001/api
